# Binários compilados (recompilar com compilar.sh de cada pasta)
01_matriz_schedule/mult_matriz
02_laplace2d/laplace2d_1k_gcc_i50
02_laplace2d/laplace2d_1k_gcc_i500
02_laplace2d/laplace2d_1loop_gcc_i500
02_laplace2d/laplace2d_gcc_i50
02_laplace2d/laplace2d_gcc_i500
03_fibonacci/fib_task
03_fibonacci/fib_task_cutoff
04_escalar/exemplo_escalar_atomic
04_escalar/exemplo_escalar_critical
04_escalar/exemplo_escalar_local
04_escalar/exemplo_escalar_reduction
04_fatorial/fatorial_critical
04_fatorial/fatorial_local
04_fatorial/fatorial_reduction
05_simd/exemplo_simd_off
05_simd/exemplo_simd_on
08_pi_MPI/pi_openmp
08_pi_MPI/pi_mpi
08_pi_MPI/pi_hybrid
09_jacobi_MPI/jacobi_mpi_buffer
09_jacobi_MPI/jacobi_mpi_vector
06_offload_analise/off_codigo1
06_offload_analise/off_codigo3
07_offload_convercao/off_simples
